@using Garage_2_Group_1.Models.UserViewModels
@model IEnumerable<Garage_2_Group_1.Models.UserViewModels.UserDetailsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registered Users:</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Register User</a>
</p>

<partial name="IndexPartialView" />