@using Garage_2_Group_1.Models.UserViewModels
@model IEnumerable<Garage_2_Group_1.Models.UserViewModels.UserIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="IndexPartialView" />