<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage_2_Group_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Garage_2_Group_1.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300&family=Libre+Franklin:ital,wght@0,200;0,500;0,700;1,200;1,500&display=swap" rel="stylesheet">
</head>
<body>
@*    <header>
        <nav class="navbar mb-3">
            <div class="container">
                <div class="col-8 offset-2">
                    <div>
                        <a class="navbar-brand" asp-area="" asp-controller="Vehicles" asp-action="Index">
                            Parkatron <div class="text-muted">The convenient WebGarage</div>
                        </a>
                    </div >
                </div>
                    <div class="col-2 align-content-lg-end">
                        <a id="park" type="button" class="btn btn-success"asp-controller="Vehicles" asp-action="Park">Park</a>
                    </div>
            </div>
            <header role="banner">*@

<!-- Navigation Bar -->
<nav class="navbar navbar-default mb-3 navbar-fixed-top">
  <div class="navbar-header">
    <img class="mx-3" src="~/images/Parkatron_Logo.png" height="120" alt="Parkatron Logo" />
  </div>
  <div id="resNav">
    <ul class="nav navbar-nav navbar-right">
      <li><a asp-controller="Home" asp-action="Index" class="btn btn-success">Home</a></li>
      <li><a asp-controller="Users" asp-action="Index" class="btn btn-success">Users</a></li>
      <li><a asp-controller="Vehicles" asp-action="Index" class="btn btn-success">Vehicles</a></li>
    </ul>
  </div>
</nav>  <!-- End of Navigation Bar -->








        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Group 1.NA22
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
