html {
   
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.col {
    
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    font-family: 'Gluten', cursive !important;
    font-family: 'Libre Franklin', sans-serif !important;
    margin-bottom: 60px;
}
#park {
    margin-bottom: 1.5rem;
}

.navbar {
    background-color: #382f41 !important;
    text-align: center;
    height: 5.4rem;
}
.navbar-brand {
    font-size:1.8rem;
    font-weight:700;
    color: #ffff !important;
    
   
}
.text-muted {
    font-weight:500;
    font-size: 0.8rem;
    height: 1rem;
}
.btn-success:hover {
    background-color: #7d7382;
    border-color: #573058;
}
.btn-primary:hover {
    background-color: #573058;
    border-color: #573058;
}
.btn.btn-success.active,
.btn.btn-success:active {
    color: #fff;
    background-color: #7d7382;
    border-color: #7d7382;
    outline: none !important;
    box-shadow: none;
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
    color: #fff;
    background-color: #7d7382;
    border-color: #7d7382;
    outline: none !important;
    box-shadow: none;
}
.btn.btn-success.focus,
.btn.btn-success:focus {
    color: #fff;
    background-color: #7d7382;
    border-color: #7d7382;
    outline: none !important;
    box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
    color: #fff;
    background-color: #7d7382;
    border-color: #7d7382;
    outline: none !important;
    box-shadow: none;
}

.btn-primary {
    background-color: #382f41;
    border-color: #382f41;
}
.btn-success {
    background-color: #573058;
    border-color: #7d7382;
}
.inputField.active, .inputField.focus, .inputField:active, .inputField:focus {
    box-shadow: none;
    border-color: #382f41;
}



.box {
    float: left;
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border: 1px solid black;
    clear: both;
}

.red {
    background-color: #382f41;
    color: #fff;
    text-align: center;
}

.green {
    background-color: yellowgreen;
    text-align: center;
}
h6 {
    font-weight: 400;
    font-style: italic;
    color: #7d7382;
}
