html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#park {
    margin-bottom: 1.5rem;
}

.navbar {
    background-color: #382f41 !important;
    text-align: center;
    height: 5.4rem;
}
.navbar-brand {
    font-size:1.8rem;
    font-weight:700;
    color: #ffff !important;
    
   
}
.text-muted {
    font-weight:500;
    font-size: 0.8rem;
    height: 1rem;
}
.btn-success:active {
    background-color: #7d7382;
    border-color: #573058;
}
.btn-primary:active {
    background-color: #573058;
    border-color: #573058;
}
.btn-success:hover {
    background-color: #7d7382;
    border-color: #573058;
}
.btn-primary:hover {
    background-color: #573058;
    border-color: #573058;
}

.btn-primary {
    background-color: #382f41;
    border-color: #382f41;
}
.btn-success {
    background-color: #573058;
    border-color: #7d7382;
}

