@model Garage.Entities.Vehicles.Vehicle

@{
    ViewData["Title"] = "Edit";
    
}

<h1>Edit Your Vehicle</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegNr" />
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control"></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WheelCount" class="control-label"></label>
                <input asp-for="WheelCount" class="form-control" />
                <span asp-validation-for="WheelCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSSN" class="control-label"></label>
                <select asp-for="UserSSN" class="form-control" asp-items="ViewBag.UserSSN"></select>
                <span asp-validation-for="UserSSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNr" class="control-label"></label>
                <select asp-for="RegNr" class="form-control" asp-items="ViewBag.RegNr"></select>
                <span asp-validation-for="RegNr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            

 @*<div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>*@

  @*Button trigger modal*@ 
            <button id="submit-button" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Save
            </button>
            <a asp-action="Index" class="btn btn-primary ml-2">Back to parking lot</a>

             @*Modal*@ 
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Saving Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save your changes?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <button asp-action="Edit" id="submit-button" type="submit" class="btn btn-danger">Confirm/Save</button>
                        </div>
                    </div>
                </div>
             </div>
       </form>
    </div>
    </div>
 


@*<div>
    <a asp-action="Index">Back to Parking Garage</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}