@model VehicleParkViewModel
@inject IParkingService parkingService
@inject IUserSelectListService userListService

<h1>Park your vehicle(@parkingService.EmptyParkingSlotsCount available spots out of @parkingService.Capacity)</h1>

<div class="container my-3">
    <div class="row">
        @for (var i = 1; i <= parkingService.Capacity; i++)
        {
           var color = parkingService.EmptyParkingSlots[i] == "" ? "green" : "red";
           <span class="box @color">@i</span>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Park" id="ParkForm">
            <div class="form-group">
                <label asp-for="RegNr" class="control-label"></label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="RegNr" style="text-transform:uppercase" />
                    <button class="btn btn-primary hidden" id="RegisterButton">Register</button>
                    <input type="submit" value="Park" id="ParkButton" class="btn btn-primary hidden" />
                </div>
                <span asp-validation-for="RegNr" id="RegNrValidation" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
    

<div class="modal fade" id="VehicleModal" tabindex="-1" aria-labelledby="VehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VehicleModalLabel">Park Vehicle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your vehicle has been successfully parked!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var previousVal = "";
            
            $('input[name="RegNr"]').val('');

            $('#RegNrValidation').change(function(){
                if (previousVal.includes('register')){
                    $('#RegisterButton').removeClass("hidden");
                    $('#ParkButton').addClass("hidden");
                }
                else if (previousVal.includes('parking')){
                    $('#ParkButton').removeClass("hidden");
                    $('#RegisterButton').addClass("hidden");
                }
                else 
                {
                    $('#RegisterButton').addClass("hidden");
                    $('#ParkButton').addClass("hidden");
                }
               
            });

            function InputChangeListener()
            {
               if($('#RegNrValidation').text() != previousVal)
               {
                 previousVal  = $('#RegNrValidation').text();
                 $('#RegNrValidation').change();    
               }
            }
            setInterval(InputChangeListener, 500);
        });

        
    </script>

    @if (Model?.ParkedSuccesfully == true)
    {
    <script type="text/javascript">
        $(function () {
            $("#VehicleModal").modal('show');
            $('form')[0].reset();
        });
    </script>
    }
}
